* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white
}

body {
    background-color: white;
}

.navbar-options {
    background: rgb(0, 217, 255);
    width: 100%;
    height: 70px;
}

.icon {
    width: 30px;
    height: 30px
}

.start-btn {
    background-color: #008CBA;
    width: 50px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    justify-content: flex-end;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: blue;
    outline: 1px solid white
}

.grid-table {
    position: absolute;
    border: 5px solid red;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    width: 1200px;
    height: 450px
}

.found {
    background-color: orange;
}

.visited {
    background-color: green;
}

.shortest-path {
    background-color: red;
}